<ion-view view-title="登录">
	<div class="bar bar-header bar-stable">
		<h1 class="title">登录</h1>
		<button class="button button-clear icon-right ion-android-close" ng-click="modal.hide()"></button>
	</div>
	<ion-content class="has-header">
		<ion-slide-box  delegate-handle="accountSlide" on-slide-changed="AccountSlideChanged($index)" show-pager="false" class="has-header">
			<!-- 登录 -->
			

			<ion-slide>
			    <div class="list list-inset">
					<div class="text-center">
						<img src="img/user.png" alt="" width="30%" height="30%">
					</div>
				  	<label class="item item-input">
				  		<i class="icon ion-person placeholder-icon"></i>
				    	<input type="text" ng-model="loginData.username" placeholder="账号">
				  	</label>
				  	<label class="item item-input">
				  		<i class="icon ion-ios-unlocked placeholder-icon"></i>
				    	<input type="password"  ng-model="loginData.password" placeholder="密码">
				  	</label>
				  	<button class="button button-full button-positive" ng-click="login()">
					  登录
					</button>
				</div>

			</ion-slide><!-- 登录 end -->


			<!-- 注册 -->
			
			<ion-slide>
			    <div class="list list-inset">
					<div class="text-center">
						<img src="img/user.png" alt="" width="30%" height="30%">
					</div>
				  	<label class="item item-input">
				  		<i class="icon ion-person placeholder-icon"></i>
				    	<input type="text" ng-model="regData.name" placeholder="账号">
				  	</label>
				  	<label class="item item-input">
				  		<i class="icon ion-email placeholder-icon"></i>
				    	<input type="email" ng-model="regData.email" placeholder="邮箱">
				  	</label>
				  	<label class="item item-input">
				  		<i class="icon ion-ios-unlocked placeholder-icon"></i>
				    	<input type="password"  ng-model="regData.password" placeholder="密码">
				  	</label>
				  	<button class="button button-full button-positive" ng-click="register()">
					  注册
					</button>
				</div>
			</ion-slide><!-- 注册 end-->
		 
		</ion-slide-box>

	</ion-content>
	<ion-tabs class="tabs-background-light tabs-top tabs-striped tabs-color-positive" delegate-handle="accountTab">

	  <ion-tab title="登录" on-select="accountselectTab(0)">
	    <!-- 标签 1 内容 -->
	  </ion-tab>

	  <ion-tab title="注册" on-select="accountselectTab(1)">
	    <!-- 标签 2 内容 -->
	  </ion-tab>

	  

	</ion-tabs>

</ion-view>
